<div class="container mt-3" *ngIf="reservation">
  <h2>Détails de la Réservation</h2>
  <form (ngSubmit)="updateReservation()">
    <div class="form-group">
      <label for="idReservation">ID de Réservation</label>
      <input type="text" id="idReservation" [(ngModel)]="reservation.idReservation" name="idReservation" class="form-control" readonly />
    </div>

    <div class="form-group">
      <label for="anneeUniversitaire">Année Universitaire</label>
      <input type="date" id="anneeUniversitaire" [(ngModel)]="reservation.anneeUniversitaire" name="anneeUniversitaire" class="form-control" />
    </div>

    <div class="form-group">
      <label for="estValide">Validité</label>
      <select id="estValide" [(ngModel)]="reservation.estValide" name="estValide" class="form-control">
        <option [ngValue]="true">Valide</option>
        <option [ngValue]="false">Non Valide</option>
      </select>
    </div>

    <h4 class="mt-4">Étudiants</h4>
    <ul>
      <li *ngFor="let etudiant of reservation.etudiants">
        {{ etudiant.nom }} {{ etudiant.prenom }}
      </li>
    </ul>

    <button type="submit" class="btn btn-primary mt-3">Mettre à jour</button>
  </form>
</div>
